body {
    background-color: #F3F5FC;
}

.logo {
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 40px;
}

textarea {
    field-sizing: content;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-variation-settings:"slnt" 0;
    margin-left: 240px;
    border: none;
    background-color: #F3F5FC;
    color: #0A3871;
}

#muñeco {
    position: absolute;
    left: 0.02%;
    right: -0.01%;
    top: 0.06%;
    bottom: -0.07%;
}

#texto-signo {
    display: inline;
}
